{% extends 'base.html' %}

{% block body %}

<div class="container-fluid p-5 bg-primary text-danger text-center">
  <h3>My First Bootstrap Page</h3>
  <p>Resize this responsive page to see the effect!</p>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
        <div class="image p-2">
          <img src="static/fotos_perfil/sivaldo.jpg" class="rounded" width="150">
        </div>
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
       <div class="image p-2">
          <img src="static/fotos_perfil/sivaldo2.png" class="rounded" width="150">
        </div>
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
       <div class="image p-2">
          <img src="static/fotos_perfil/sivaldo-Photoroom.jpg" class="rounded" width="150">
        </div>
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>


{% endblock %}
