{% extends 'base.html' %}

{% block body %}

<div class="container-fluid p-5 bg-warning text-white text-center">
  <h3>Comunidade Impressionadora</h3>
  <p>Alunos , experts e a galera da hashtag em um só lugar</p>
</div>
<hr>

<div class="container mt-5">



       {% for post in posts %}
     <div class="row  border mt-4 p-3 meupost">
        <div class="col col-3  ">
              <div class="image p-2">
                  <img src="{{ foto_perfil }}" class="rounded" width="150">
              </div>
        </div>

        <div class="col col-9" >
            <h3>{{ post.titulo }}</h3>
            <p>{{ post.corpo }}</p>
        </div>
    </div>
      {% endfor %}  <!--exibe os posts-->


</div>


{% endblock %}
