{% extends 'base.html' %}


{% block body %}

    <div class="container" >

        <div class="row">
            <div class="col">
                 <h1>Login</h1>
                {{ form_login.senha }}
                {{ form_login.email }}
                {{ form_login. botao_submit_login }}
                <!--esta variavel chama o formulario la do main.py-->
            </div>
            <div class="col">
                  <h1>Criar conta</h1>
                   {{ form_criarConta.username }}
                   {{ form_criarConta.email }}




                 <!--esta variavel chama o formulario la do main.py-->
            </div>
        </div>

    </div>

{% endblock %}

